---
import { SEOMetadata } from "astro-seo-metadata";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <SEOMetadata
      siteName={"RFC 42069: nLa libre access-point"}
      title={"Le cool title"}
      description={"Request for comments 42069: nLa Libre Access-Point specification"}
      favicon={"/favicon.ico"}
      author="Lan Vukušič"
      copyright="MIT"
      astroSitemap={true}
      canonicalUrl={Astro.url.toString()}
      type={"website"}
      astroGenerator={true}
    />
    <meta charset="UTF-8" />
    <!-- <meta name="generator" content={Astro.generator} /> -->
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-family: monospace;
    font-size: 12px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
